<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% t contact.heading1 %}</h2>
        <h3 class="section-subheading text-muted">
        </h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4">
        <h3>{% t contact.about1 %}</h3>
        <p>
          {% t contact.about2 %}
        </p>
      </div>
      <div class="col-md-4">
        <h3>{% t contact.eosamsterdam1 %}</h3>
        <p>
          {% t contact.eosamsterdam2 %}
          <br>
          <br>
        </p>
        <p>
          Henry Dunantstraat 36 a<br>
          3822XE<br>
          Amersfoort<br>
          <br>
        </p>
        <p>
          <a href="mailto:contact@eosamsterdam.net">contact@eosamsterdam.net</a>
        </p>
      </div>
      <div class="col-md-4">
        <h3>{% t contact.channels1 %}</h3>
        <p>
          {% t contact.channels2 %}
        <p>

        <ul class="list social-buttons">

          <li><a href="https://twitter.com/eosamsterdam"><i class="fa fa-twitter"></i></a>
          </li>

          <li><a href="https://steemit.com/@eosamsterdam" class=steemit><img src="/img/icons/icon-steemit.svg"></a>
          </li>

          <li><a href="https://github.com/eosamsterdam"><i class="fa fa-github"></i></a>
          </li>

          <li><a href="https://www.facebook.com/eos.amsterdam"><i class="fa fa-facebook"></i></a>
          </li>

          <li><a href="https://www.reddit.com/user/eosamsterdam"><i class="fa fa-reddit"></i></a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>