<!-- Services Section -->
    <section id="eos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WHAT DO WE DO WITH EOS</h2>
                    <h3 class="section-subheading text-muted">
                      </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">OPERATE</h4>
                    <p class="text-muted">We have people, budget and experience available for operating the block producer infrastructure.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">DEVELOP</h4>
                    <p class="text-muted">We want to invest in building infrastructure and distributed applications, that represent real value to our community. Our investments will most likely go to apps and dapps on topics such as on-boarding, identity, reputation, security and usability of the platform.</p>
                </div>

                <!-- <div class="col-md-4">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-circle fa-stack-2x text-primary"></i>
                     <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                     </span>
                     <h4 class="service-heading">GOVERN</h4>
                     <p class="text-muted">

                     We navigate on global human values such as freedom, privacy and property. And comply with the European rules that have translated these values into laws. This means e.g. that we work on a privacy-by-design basis, as required under EU law. We advise on and try to ensure contract and ownership compatibility within the existing legal framework.

                     </p>
                     </div>
                -->


                <div class="col-md-4">
                    <h4 class="service-heading">PROMOTE</h4>
                    <p class="text-muted">
We organize meetups and workshops for developers, entrepreneurs, and investors to evangelize the power of the concepts behind EOS. We also plan to help on-boarding companies by providing lectures and on-premise training. Our team of crypto specialists is focused on helping to build and operate the infrastructure to support the EOS community.
                      </p>
                </div>
            </div>
        </div>


    </section>

        <div class="worldmap"></div>
