<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <div class="brand-symbol">
                    <img src="/img/logo-symbol.png">
                  </div>
                  <div class="brand-text">
                    <span>{% t header.header1 %}</span>
                    <span>{% t header.header2 %}</span>
                    <span>{% t header.header3 %}</span>
                  </div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id=navigation class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#eos">{% t header.eos %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mission">{% t header.mission %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tech">{% t header.tech %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{% t header.team %}</a>
                    </li>
                    <li class="updates-and-events">
                        <a class="page-scroll" href="#updates-and-events" >{% t header.updev %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% t header.contact %}</a>
                    </li>
					<li class="dropdown">
						<a id="sitelangcode" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><img src="/img/lang/{% t site.langcode %}.png">&nbsp;{{ site.lang | upcase }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							{% for lang in site.languageNames %}
								{% if lang[0] == 'en' %}
                                    <li><a href="{{ site.baseurl_root }}/"><img src="/img/lang/{{ lang[0] }}.png">&nbsp;{{ lang[1] }}</a></li>
								{% else %}
                                    <li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/"><img src="/img/lang/{{ lang[0] }}.png">&nbsp;{{ lang[1] }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    <!-- Hr -->
    <div class="hr"></div>

    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <!--<div class="logo" style="background-image: url('/img/logo_{% t site.langcode %}.png');"></div>-->
              <div class="logo"></div>
              <div class="intro-text-inner">
                <div class="intro-lead-in">
                  {% t header.intro %}</div>
                <a href="#eos" class="page-scroll btn btn-xl" id="tell-me-more">{% t header.tell %}</a>
              </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
