<!-- Services Section -->
<section id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">MISSION</h2>
        <h3 class="section-subheading">
          As EOS Amsterdam, we live for developing, operating and
          promoting the EOS infrastructure. Our goal? Help people
          organize into voluntary free-market communities to secure
          life, liberty and property for all. EOS shall become and
          remain a viable legal ecosystem based on fundamental human
          rights which decisions are sound and respected by outside
          courts.
        </h3>
      </div>
    </div>
    <div class="row principles">
      <div class="principle col-md-6">
        <div class="icon accountable"><img src="/img/icons/accountable.svg"></div>
        <div class="desc">
          <h3>Accountable</h3>
          <p>
            Because we are a legal entity registered in the Netherlands, we can be
            held responsible for our actions, changes, failures and
            investments. Everything is communicated to our community. The
            Netherlands are a mature democracy and a stable member of the European
            Union.  Located in Amsterdam Dutch and Amsterdam people well known for
            their liberal mind and their open view to the world. It is the mind of
            a people that host We feel an Amsterdam located block producer should
            be included, because of oursuch an important internet hub function.
          </p>
        </div>
      </div>


      <div class="principle col-md-6">
        <div class="icon consistent"><img src="/img/icons/consistent.svg"></div>
        <div class="desc">
          <h3>Consistent</h3>
          <p>
            We consistently review our operations and infrastructure
            to find improvements. We believe in repetitively and
            marginally improving to end up with a qualitative service.
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon transparent"><img src="/img/icons/transparent.svg"></div>
        <div class="desc">
          <h3>Transparent</h3>
          <p>
            Every action, change, failure and investment is registered
            on-chain and communicated to our community. We believe in
            transparency. We will seek to ensure that the arbitration
            proceedings comply with the principles of a robust
            conflict resolving system, such as principles of
            independence, due process, and effectiveness.
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon reciprocity"><img src="/img/icons/reciprocity.svg"></div>
        <div class="desc">
          <h3>Reciprocity</h3>
          <p>
            We have a full-time involvement in the EOS
            community. Therefore, we have our ears to the ground. We
            know what the community wants and give back to them.
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon secure"><img src="/img/icons/secure.svg"></div>
        <div class="desc">
          <h3>Secure</h3>
          <p>
            We collaborate closely with Kahuna, a managed security services
            provider in the Netherlands and Spain. This company will secure,
            manage and monitor our block producer infrastructure 24x7.
          </p>
        </div>
      </div>

       <div class="principle col-md-6">
        <div class="icon independent"><img src="/img/icons/independent.svg"></div>
        <div class="desc">
          <h3>Independent</h3>
          <p>
            People, budget and experience; everything is already in place to set
            up and monitor the block producer infrastructure. The result? We are
            able to operate independently.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
