<!-- Services Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">MISSION</h2>
                    <h3 class="section-subheading">
As EOS Amsterdam, we live for developing, operating and promoting the EOS infrastructure. Our goal? Help people organize into voluntary free-market communities to secure life, liberty and property for all. EOS shall become and remain a viable legal ecosystem based on fundamental human rights which decisions are sound and respected by outside courts.
                      </h3>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
