<!-- Services Section -->
<section id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% t mission.heading1 %}</h2>
        <h3 class="section-subheading">
          {% t mission.heading2 %}
        </h3>
      </div>
    </div>


    <div class="row principles">

      <div class="principle col-md-6">
        <div class="icon accountable"><img src="/img/icons/accountable.svg"></div>
        <div class="desc">
          <h3>{% t mission.accountable1 %}</h3>
          <p>
            {% t mission.accountable2 %}
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon consistent"><img src="/img/icons/consistent.svg"></div>
        <div class="desc">
          <h3>{% t mission.consistent1 %}</h3>
          <p>
            {% t mission.consistent2 %}
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon location"><img src="/img/icons/location.svg"></div>
        <div class="desc">
          <h3>{% t mission.location1 %}</h3>
          <p>
            {% t mission.location2 %}
          </p>
        </div>
      </div>


      <div class="principle col-md-6">
        <div class="icon reciprocity"><img src="/img/icons/reciprocity.svg"></div>
        <div class="desc">
          <h3>{% t mission.reciprocity1 %}</h3>
          <p>
            {% t mission.reciprocity2 %}
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon secure"><img src="/img/icons/secure.svg"></div>
        <div class="desc">
          <h3>{% t mission.secure1 %}</h3>
          <p>
            {% t mission.secure2 %}
          </p>
        </div>
      </div>

      <div class="principle col-md-6">
        <div class="icon independent"><img src="/img/icons/independent.svg"></div>
        <div class="desc">
          <h3>{% t mission.independent1 %}</h3>
          <p>
            {% t mission.independent2 %}
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
