<!-- Team Section -->
<section id="partners">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Financial Structure</h2>
        <h3 class="section-subheading">
          Transparency is one of the core values of EOS Amsterdam, as
          such we will give complete transparency on business
          structure and financial reports. EOS Amsterdam will work
          closely with the dutch tax authorities to conform to all
          regulations.

          <a href="https://www.mth.nl/international" rel="nofollow noopener"><strong>MTH Accountants</strong></a>
          will publish quarterly a financial report of EOS Amsterdam Block Producer BV

        <br><br>
        <p>
        <img src="/img/financial-structure.png" class="hidden-sm hidden-xs">
        </p>
      </div>
    </div>
    <div class="row " style="margin-top: 40px;">
      <div class="col-lg-12 text-left">

        <p>In order to be compliant to the <a href="https://raw.githubusercontent.com/EOS-Mainnet/eos/master/contracts/eosio.system/eosio.system-regproducer-rc.md">regproducer Ricardian contract</a>, hereby the explicit ownership disclosure in writing:</p>

      </div>
      </div>
    <div class="row justify-content-center" style="margin-top: 40px;">
            <div class="col-sm-offset-2 col-sm-8 text-left">

          <ul>
            <li>45% Kahuna Group BV
              <ul>
                <li><small>~50% RA Oudkerk Pool</small></li>
                <li><small>~50% Marcel Knippen</small></li>
              </ul>
            </li>

            <li>45% Boy Maas Holding BV</li>
            <li>10% Jetse Sprey Holding BV</li>
          </ul>

      </div>
    </div>

    <div class="row " style="margin-top: 40px;">
      <div class="col-lg-12 text-left">

        <p>For any inquiries on the subject of ownership disclosure, please contact us and we will be happy to inform you to the fullest extent possible.</p>

      </div>
      </div>


  </div>

</section>
