<!-- Team Section -->
<section id="partners">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Financial Structure</h2>
        <h3 class="section-subheading">
          Transparency is one of the core values of EOS Amsterdam, as
          such we will give complete transparency on business
          structure and financial reports. EOS Amsterdam will work
          closely with the dutch tax authorities to conform to all
          regulations.

          <a href="https://www.mth.nl/international" rel="nofollow noopener"><strong>MTH Accountants</strong></a>
          will publish quarterly a financial report of EOS Amsterdam Block Producer BV

        <br><br>
        <p>
        <img src="/img/financial-structure.png">
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4">
      </div>
    </div>
  </div>

</section>
