<!-- Team Section -->
<section id="team">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">TEAM</h2>
        <h3 class="section-subheading text-muted">
        </h3>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4 team-member">
        <img src="/img/team/Boy_ZW.png">
        <h4 class="service-heading">BOY MAAS</h4>
        <h5>FOUNDER / STRATEGY / FULL STACK SOFTWARE ENGINEER</h5>
        <p>
          A full stack software engineer that has been in the internet industry
          for more than twenty years now. Boy has been in the telecom, website,
          gaming and financial technology sectors and is now fully engaged in
          the crypto space. He has extensive experience in setting up high
          available infrastructures and running mission-critical fintech
          applications, building distributed teams and keeping things moving
          forward. Read his personal motivations in a Steemit post he wrote:
          <a href="https://steemit.com/introduceyourself/@monetashi/eos-solid-long-term-choices-grounded-in-idealism">EOS Solid long-term choices grounded in idealism</a> Upvoted by Daniel Larimer himself!
        </p>
      </div>
      <div class="col-md-4 team-member">
        <img src="/img/team/Rhett_ZW.png">
        <h4 class="service-heading">RHETT OUDKERK POOL</h4>
        <h5>FOUNDER / SECURITY EXPERT / STRATEGY</h5>

        <p>
          We want to invest in building infrastructure and distributed
          applications, that represent real value to our
          community. Our investments will most likely go to apps and
          dapps on topics such as on-boarding, identity, reputation,
          security and usability of the platform.
        </p>
      </div>

      <div class="col-md-4 team-member">
        <img src="/img/team/Jetse_ZW.png">
        <h4 class="service-heading">JETSE SPREY</h4>
        <h5>FOUNDER / LEGAL / ADVISOR</h5>

        <p>
          We organize meetups and workshops for developers, entrepreneurs, and investors to evangelize the power of the concepts behind EOS. We also plan to help on-boarding companies by providing lectures and on-premise training. Our team of crypto specialists is focused on helping to build and operate the infrastructure to support the EOS community.
        </p>



      </div>
    </div>
  </div>

</section>
