<!-- Team Section -->
<section id="team">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% t team.heading %}</h2>
        <h3 class="section-subheading text-muted">
        </h3>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4 team-member">
        <img src="/img/team/Boy_ZW.png">
        <h4 class="service-heading">BOY MAAS</h4>
        <h5>{% t team.boy.heading %}</h5>
        <p>
          {% t team.boy.desc %}
        </p>
        <a class="linkedin" href="https://www.linkedin.com/in/boy-maas-2b86594/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>

      <div class="col-md-4 team-member">
        <img src="/img/team/Rhett_ZW.png">
        <h4 class="service-heading">RHETT OUDKERK POOL</h4>
        <h5>{% t team.rhett.heading %}</h5>
        <p>
          {% t team.rhett.desc %}
        </p>
        <a class="linkedin" href="https://www.linkedin.com/in/kahuna/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>

      <div class="col-md-4 team-member">
        <img src="/img/team/Jetse_ZW.png">
        <h4 class="service-heading">JETSE SPREY</h4>
        <h5>{% t team.jetse.heading %}</h5>
        <p>
          {% t team.jetse.desc %}
        </p>
        <a class="linkedin" href="https://www.linkedin.com/in/jetse-sprey-729147"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</section>
