<!-- Team Section -->
<section id="team">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">TEAM</h2>
        <h3 class="section-subheading text-muted">
        </h3>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4 team-member">
        <img src="/img/team/Boy_ZW.png">
        <h4 class="service-heading">BOY MAAS</h4>
        <h5>FOUNDER / STRATEGY / FULL STACK SE</h5>
        <p>
          A full stack software engineer who has been active in the internet
          industry for more than twenty years. Boy has worked in the telecom,
          website, gaming and financial technology sectors and is now fully
          engaged in the crypto space. He has extensive experience in setting up
          high available infrastructures and running mission-critical fintech
          applications, building distributed teams and keeping things moving
          forward.
          Read his personal motivations in a Steemit post he wrote:
          <a href="https://steemit.com/introduceyourself/@monetashi/eos-solid-long-term-choices-grounded-in-idealism">EOS Solid long-term choices grounded in idealism</a> Upvoted by Daniel Larimer himself!
        </p>
        <a class="linkedin" href="https://www.linkedin.com/in/boy-maas-2b86594/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-4 team-member">
        <img src="/img/team/Rhett_ZW.png">
        <h4 class="service-heading">RHETT OUDKERK POOL</h4>
        <h5>FOUNDER / SECURITY EXPERT / STRATEGY</h5>

        <p>

          An experienced entrepreneur, active in information security and
          compliance for more than twenty years. CEO and founder of <a href="https://www.kahuna.nl/en/">Kahuna</a>, a
          respected managed security services provider. Rhett has extensive
          experience with fast-growing enterprises, and is the lucky owner of a
          prestigious <strong>Deloitte Fast 50 Sustainable Growth award</strong>. With the
          expected exponential growth of the EOS platform, his experience is a
          very valuable contribution.

        </p>

        <a class="linkedin" href="https://www.linkedin.com/in/kahuna/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      </div>

      <div class="col-md-4 team-member">
        <img src="/img/team/Jetse_ZW.png">
        <h4 class="service-heading">JETSE SPREY</h4>
        <h5>FOUNDER / LEGAL / ADVISOR</h5>

        <p>
          Trained to become a techie, Jetse chose law over physics to
          become an inspiring legal advisor with blockchain law
          knowledge. He has twenty years of experience in all legal
          aspects of technology and is partner in a reputable
          firm. Jetse specializes in contract law, tokenization of
          ownership, digital governance, data protection and
          intellectual property.
        </p>

        <a class="linkedin" href="https://www.linkedin.com/in/jetse-sprey-729147"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>

</section>
