<section id="updates-and-events">

  <div class="updates">
    <div class="inner">
      <h3 class="section-heading">Updates</h3>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h5>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h5>
          <p>{{ post.subtitle }} <i class="fa fa-arrow-right"></i></p>
        </li>
        {% endfor %}
      </ul>

      <a class="more-posts" href="/posts.html">More updates <i class="fa fa-arrow-right"></i></a>
    </div>

  </div>

  <div class="events">
    <div class="inner">
      <h3>Events</h3>

      <ul class="meetup-list">
        {% for meetup in site.data.meetups %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="meetup-meta">{{ meetup.local_date | date: date_format }}</span>

          <h5>
            <a class="meetup-link" href="{{ meetup.link | relative_url }}">{{ meetup.name | escape }}</a>
          </h5>
          <p>{{ meetup.description | strip_html | slice: 0, 120 }} <i class="fa fa-arrow-right"></i></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
