<section id="updates-and-events">

  <div class="updates">
    <div class="inner">
      <h3 class="section-heading">Updates</h3>

      <ul class="post-list">
        {% for post in site.posts limit:3 %}
        {% if post.hide %} {% continue %} {% endif  %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h5>
            <a class="post-link" href="{{ post.steemit }}">{{ post.title | escape }}</a>
          </h5>
          <p>{{ post.subtitle }} <i class="fa fa-arrow-right"></i></p>
        </li>
        {% endfor %}
      </ul>

      <a class="more-posts" href="https://steemit.com/@eosamsterdam">More updates <i class="fa fa-arrow-right"></i></a>
    </div>

  </div>

  <div class="events">
    <div class="inner">
      <h3>Events</h3>

      <ul class="meetup-list">


        <li>
          <div class="meetup-date">
            <span class="dom">16</span>
            <span class="month">may</span>
          </div>

          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="http://pensiontechsummit.com/">Presentation at PensionTech Summit 2018</a>
            </h5>
            <p>EOS Amsterdam will speak on the impact of EOS technology on our pensions <i class="fa fa-arrow-right"></i></p>
          </div>
        </li>

        <li>
          <div class="meetup-date">
            <span class="dom">8</span>
            <span class="month">may</span>
          </div>

          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="https://www.youtube.com/channel/UC0fwWI2RBBtEIYIP6fH68XQ">Launchgroup Panel @ EOSRad</a>
            </h5>
            <p>EOS Amsterdam will discuss the Trinity launch group progress on the EOSRad live stream <i class="fa fa-arrow-right"></i></p>
          </div>
        </li>


        {% for meetup in site.data.meetups reversed limit:3 %}
        <li>
          {% assign date_month =  "%b" %}
          {% assign date_dom =  "%-d" %}


          <div class="meetup-date">
            <span class="dom">{{ meetup.local_date | date: date_dom }}</span>
            <span class="month">{{ meetup.local_date | date: date_month }}</span>
          </div>

          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="{{ meetup.link  }}">{{ meetup.name | escape }}</a>
            </h5>
            <p>{{ meetup.description | strip_html | slice: 0, 120 }} <i class="fa fa-arrow-right"></i></p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <a class="more-posts" href="https://www.meetup.com/EOS-Amsterdam/">More events <i class="fa fa-arrow-right"></i></a>

    </div>
  </div>

</section>
