<section id="updates-and-events">
  <div class="updates">
    <div class="inner">
      <h3>{% t updev.updates %}</h3>
      <ul class="post-list">

        {% for entry in site.data.updates limit:5 %}
        <li>
          <div class="post-date">
            <span class="dom">{{ entry.day }}</span>
            <span class="month">{{ entry.month }}</span>
          </div>
          <div class="post-info">
            <h5>
              <a class="post-link" href="{{ entry.url }}">{{ entry.title }}</a>
            </h5>
            <p>{{ entry.description }} <a href="{{ entry.url }}"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>
        {% endfor %}
        
      </ul>
      <a class="more-posts" href="https://steemit.com/@eosamsterdam">{% t updev.moreupd %} <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>

  <div class="events">
    <div class="inner">
      <h3>{% t updev.events %}</h3>
      <ul class="meetup-list">
        <li>
          <div class="meetup-date">
            <span class="dom">24</span>
            <span class="month">may</span>
          </div>
          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="https://www.meetup.com/EOS-Amsterdam/events/250210242/">Meetup #3: Tesloop on EOS</a>
            </h5>
            <p>EOS Amsterdam meetup #3 in the center of Amsterdam. General discussion and Tesloop on EOS <a href="https://www.meetup.com/EOS-Amsterdam/events/250210242/"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>
        
        <li>
          <div class="meetup-date">
            <span class="dom">16</span>
            <span class="month">may</span>
          </div>
          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="http://pensiontechsummit.com/">Presentation at PensionTech Summit 2018</a>
            </h5>
            <p>EOS Amsterdam will speak about the impact of EOS technology on our pensions <a href="http://pensiontechsummit.com/"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>

        <li>
          <div class="meetup-date">
            <span class="dom">8</span>
            <span class="month">may</span>
          </div>
          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="https://www.youtube.com/channel/UC0fwWI2RBBtEIYIP6fH68XQ">Launchgroup Panel @ EOSRad</a>
            </h5>
            <p>EOS Amsterdam will discuss the Trinity launch group progress on the EOSRad live stream <a href="https://www.youtube.com/channel/UC0fwWI2RBBtEIYIP6fH68XQ"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>
        
        <li>
          <div class="meetup-date">
            <span class="dom">3</span>
            <span class="month">Apr</span>
          </div>
          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="https://www.meetup.com/EOS-Amsterdam/events/249264829/">Meetup #2: Governance and Arbitration</a>
            </h5>
            <p>A Governed chain? What does this exactly mean? Join EOS Amsterdam to discuss this new phenomenon <a href="https://www.meetup.com/EOS-Amsterdam/events/249264829/"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>

        <li>
          <div class="meetup-date">
            <span class="dom">13</span>
            <span class="month">Mar</span>
          </div>
          <div class="meetup-info">
            <h5>
              <a class="meetup-link" href="https://www.meetup.com/EOS-Amsterdam/events/248538574/">Meetup #1: General Talk</a>
            </h5>
            <p>It may be strange to go to The Hague for an EOS Amsterdam meetup, to explain, EOS Amsterdam is the name of the founding <a href="https://www.meetup.com/EOS-Amsterdam/events/248538574/"><i class="fa fa-arrow-right"></i></a></p>
          </div>
        </li>
      </ul>
      <a class="more-posts" href="https://www.meetup.com/EOS-Amsterdam/">{% t updev.moreev %} <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</section>